.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dk-color);
    opacity: .9;
    border-radius: 20px;
    color: white;
}
.search-input {
    border-radius: 20px;
    height: 20px;
    margin:10px 0;
    /* margin-left: 5px; */
    border: 3px solid yellow;
}
.searchFunction-container {
    /* display: none; */
    /* opacity: 0; */
    margin: 20px;
    color:white;
    display: flex;
    /* align-items: center; */
    width: auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    padding: 50px,0;
    transition:opacity 500ms, translate 500ms,transform 500ms;
}

/* Css Transition */
.searchFunction-div-enter{
    /* display: none; */
    opacity: 0;
    /* position:absolute; */
    transform: translateY(0%);
}
.searchFunction-div-enter-active{
    /* background-color: var(--jsplit-1); */
    /* display:block; */
    opacity: .5;
    transform: translateY(110%);
    position: absolute;
    transition:
    opacity 800ms,
    transform 300ms,
    linear;
}
.searchFunction-div-enter-done{
    opacity: 1;
    }
.searchFuntion-div-exit{
    opacity: 1;
}
.searchFunction-div-exit-active{
    opacity:0;
    transform: translateY(110%);
}
.searchFunction-div-exit-done{
    /* position: absolute; */
    transform: translateY(0%);
    opacity: 0;
    
    transition:
    /* translate 500ms, */
    transform 300ms,
    opactiy 500ms,
     linear;
    }

.search-scroll-container {
overflow-y:scroll;
max-height: 200px;

width: 100%s;
}

.search-h5{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.search-results-container{}
.search-results-title{
    display: flex;
    justify-content:center;
    margin: 5px;
}
.search-thead{
}
.search-tr-head{
    border: 1px solid var(--jsplit-1);
    padding:2px;
    margin: 2px;
    color:var(--jsplit-5);

}
.search-th{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.search-tbody{}
.search-tr-body{}

.search-td{
    padding:5px;
    border:1px solid var(--jsplit-1)
    /* margin: 5px; */
}

/* select */
.field-select-container{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.field-select{
    padding:4px;
    border-radius: 10px;
    margin: 5px;
    color: var(--jsplit-1);
    background-color: var(--jsplit-4);
}
.field-select-label{
color:var(--jsplit-4);
/* border-radius: 5px; */
}

.field-option{
    border-radius: 5px;
}

/* search component CSStransitions */

.search-component{
    /* display: ; */
    opacity: 0;
}
.search-component-enter{
    opacity: 0;
    display: none;
}
.search-component-active{
    opacity: 1;
    transition: opacity 300ms,transform 300ms;
}
.search-component-exit{
    opacity:1;
}
.search-component-exit-active{
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}