



.HeadNavBar-container {
    display: flex;
    justify-content: center;
    box-shadow: 0px 50px 150px var(--lt-color),0 0 1px var(--lt-color) inset;
    opacity: .9;
    background-color: black;
    /* border-radius: 15px; */
    /* background-image: repeating-radial-gradient( black ,gold 1500px); */
}

.HeadNavBar-btn {
    justify-content: center;
    background-color: var(--jsplit-2);
    color: var(--jsplit-4);
    /* width: 100%; */
    display: flex;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 5px;
    font-family: 'Patrick Hand SC';
    font-size: large;

}
.HeadNavBar-btn:hover {
    background-color: var(--jsplit-5);
    scale: .9;
}

.search-btn{
    display: flex;
    border-radius: 10px 10px 50px 50px ;
    justify-content: center;
    background-color:var(--dk-gold-color);
    width: 100%;
    align-items: center;
    height: 35px;
}
.search-btn:hover {
    background-color: var(--red-color);
    scale:.9;
}