
@media screen and (max-width:500px) {

}




.table-container {
    /* border:3px solid yellow; */
    display: block;
    overflow-x: scroll;
    justify-content: center;
    margin-bottom: 500px;
    align-items: center;
}
.table-body {
    overflow-y: scroll;
    display: f;
    /* border:3px solid yellow; */
    /* padding: 50px; */
    /* height: 100%; */
}
.table {
    /* border:3px solid yellow; */
    border-collapse: collapse;
    opacity: .8;
    width: auto;
    /* display: block; */
    overflow-x: auto;
}

.table-title-h1{
    display: flex;
background-color: black;
opacity: .7;
color:var(--jsplit-4);
justify-content:center;
}

.table-head-row{
    background-color: var(--lt-dk-color);
    color:white;
    font-family: "Walter Turncoat";
    /* margin: 4px; */
}

.table-heading{
    /* padding:15px; */
    margin: 25px;
}
.table-body-row{
    /* max-height: 30px; */
    background-color: var(--dk-color);
    /* overflow: scroll; */
    /* height:auto; */
    width: auto;
}

.table-detail-name{
    left:0px;
    border: 1px solid black;
    opacity: 1;
    background-color: var(--lt-dk-color);
    color:white;
    position:sticky;
}
.table-detail-name:active{transform: scale(.9);}
.table-detail-name:hover{
    background-color: var(--jsplit-1);
}
.table-detail-name:visited{
    color:var(--jsplit-3)
}

.table-detail {
    /* overflow-y:hidden; */
    padding: 0 15px;
    height:30px;
    max-height: 50px;
    width: auto;
    opacity: 1;
    color: white;
    border:1px solid var(--dk-red-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* single antique table styling */
.single-antique-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.single-antique-head-th{
 padding:5px;
 border:1px solid black;
 height: 35px;
}
.single-antique-td{
    display: flex;
    padding:15px;
    height:35px ;
    align-items: center;
}

/* button styling */

.table-btns-container > button {
    border-radius: 5px;
    min-width: 100%;
    /* border:2px solid yellow ;S */
    padding:5px;
}
.add-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color:var(--dk-color);
    border-radius: 50px 50px 0 0;
    opacity: .9;
    box-shadow: 0 0 15px white;
    
}
.add-btn:link {
    color:white;
}
.add-btn:hover {
    background-color: var(--lt-dk-color);
    color:var(--lt-gold-color);
}
.add-btn:visited{
    color:var(--lt-dk-color)
}
.add-btn:active{
    color:var(--dk-color)
}

.delete-btn {
    background-color: var(--maroon-color);
    color:white;
}
.delete-btn:hover {
    background-color: var(--red-color);
}
.edit-btn {
    background-color: var(--dk-gold-color);
}
.edit-btn:hover {
    background-color: var(--lt-gold-color);
}



/* select */
.category-select-table-container{
    /* margin: 10px; */
    padding: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;   
    opacity: .8;
    /* border-radius: 25px  25px 0 0; */
    background-color: black;
}
.category-select-table{
    margin: 25px 0 0 5px;
    background-color: var(--jsplit-4);
    align-content: center;
    border-radius: 5px;
}
.category-select-label-table{
    align-content: center;
    /* margin-bottom: 5px; */
    background-color: var(--jsplit-1);
}

.table-container-furniture{
    /* justify-items: center; */
    overflow-x: scroll;
    /* padding:10px */
}
.table-container-books{
    overflow-x: scroll;
    /* padding:10px */
}
.table-container-allAntiques{
    overflow-x: scroll;
    /* padding:10px */
}