.header-container {
display: flex;
justify-content:center;
opacity: .9;
top:0px;
}
.header-title {
    display: flex;
    box-shadow:0 0 100px var(--jsplit-5) inset;
    justify-content: center;
    color:var(--complementary-gold);
    background-color:black;
    opacity: .8;
    width: auto;
    height: auto;
    font-family:'Rock Salt';
    /* Verdana, Geneva, Tahoma, sans-serif; */
    padding: 50px;
}
.header-title-container{
    /* border:3px solid yellow; */
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}