.inputList-container {
     display: flex; 
     justify-content: center;

}

.title-container {
     display: flex;
    justify-content: center;
    color: var(--gold-color);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--lt-color);
    opacity: .8;
    background-color: var(--dk-color);
}
.form-actual {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.inputList-inputs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1px;
    opacity: .9;
    color:var(--gold-color);
    border-radius: 0 12px 12px 0;
}

.inputList-input {
    display: flex;
    align-items: center;
    justify-content: center;
     height: 100%;
    opacity: .9;
     background-color: var(--dk-color); 
    color:var(--gold-color);
    border-radius: 0 12px 12px 0;
}
.inputList-input:focus {
    background-color: var(--lt-color);
    color: black;
    font-weight: bolder;
}

.inputList-labels-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1px;
     /* background-color: var(--dk-color); */
    opacity: .9;
    color:var(--gold-color) ;
    border-radius: 12px 0 0 12px;
}
.inputList-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:1px;
     background-color: var(--dk-color);
    opacity: .9;
    color:var(--gold-color) ;
    border-radius: 12px 0 0 12px;
    width: 100%;
    border:1px solid white;
}
.inputList-columns {
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: center;
}

.inputList-line {
     /* display: flex; */
    /* padding:3px 0px; */
    /* margin: 0px; */
    /* height: 20px; */
    /* border-bottom: 3px solid black; */
    /* justify-content:center; */
    /* flex-direction: row; */
    
    /* align-items:center;  */
}

.inputList-btn {
      /* border: 3px solid yellow; */
    display: flex;
    height: 20px;
    align-items: center;
    justify-content:center;
    background-color:var(--dk-color);
    color: var(--gold-color);
    border-color: var(-lt-color);
    margin: 5px 75px ;
    border-radius: 10px;
    /* margin-bottom: 100px;  */
    opacity: .8;
}
.inputList-btn:active{
    scale:.9;
}
.inputList-btn:hover {
    opacity: 1;
    color: white;
    /* background-color: var(--dk-gold-color); */
}
.NameLink{
    color:var(--jsplit-4)
}

.NameLink:visited {
    color:var(--jsplit-5);
}