.AddAntique-page-container {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid blue; */
    margin-bottom: 500px;
}

.category-select {
    background-color: var(--jsplit-4);
    border-radius: 5px;
    height: 30px;
    margin:0 5px;
    padding:5px;

}
.category-select-label{
    background-color: var(--jsplit-4);
    opacity: .8;
    height: 30px;
    margin:0 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding:5px;
}

.category-select-container{
    /* align-content: center; */
    display: flex;
    margin: 50px;
    /* margin: 15px; */
}